body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background 0.4s ease;
    background: #725ac1;
}

.wrapper {
    width: 1000px;
    padding: 32px;
    margin: 56px auto;
    text-align: center;
    background: #fff;
    border-radius: 16px;
    box-shadow:
        #00000040 0px 54px 55px,
        #0000001f 0px -12px 30px,
        #0000001f 0px 4px 6px,
        #0000002b 0px 12px 13px,
        #00000017 0px -3px 5px;
}

.title {
    color: #725ac1;
    font-family: cursive;
    text-shadow: 4px 4px 5px #0000004d;
}

.text-input {
    width: 90%;
    height: 150px;
    max-width: 932px;
    max-height: 360px;
    padding: 16px;
    font-size: 16px;
    margin: 0 auto 24px;
    border: 0;
    outline: 0;
    border-radius: 16px;
    box-shadow: #63636333 0px 2px 8px 0px;
}

.results-block {
    font-size: 18px;
    margin-bottom: 20px;
}

.quantity {
    font-weight: 900;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 32px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725ac1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725ac1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725ac1;
}

.btn:hover {
    color: #fff;
    box-shadow: inset 0 -100px 0 0 #725ac1;
}

.btn:active {
    transform: scale(0.9);
}
